page-home {
    table.ia_map_key {
        border-collapse: separate;
        border-spacing: 1px;
        width: 342px;
        margin: 5px auto;
        font-family: 'Courier New';
        font-size: 80%;
        text-align: center;
    }
    #ia_nitrate_table, #ia_temperature_table, #ia_precipiation_table, #ia_groundwater_table {
        margin-top: 10px;
        -webkit-border-horizontal-spacing: 2px;
        -webkit-border-vertical-spacing: 0;
    }
    table.tablesorter {
        font-family: arial;
        background-color: #999;
        margin: 10px 0pt 5px 0px;
        font-size: 8pt;
        width: 100%;
        text-align: left;
        border-collapse: collapse;
        border: 1px solid #999;
    }
    table.tablesorter tbody td {
        color: #222;
        padding: 1px;
        background-color: #FBFBFB;
        border: 1px solid #999;
        vertical-align: center;
    }
}