page-list {

}



* {
    box-sizing: border-box;;
  }
  .icon {
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    width: 2em;
    height: 2em;
    display: block;
    /* margin: 0 auto; */
  }
  .states {
    overflow: hidden;
  }
  .states__item {
    float: left;
    padding: 0 10px 0 0;
    color: #222;
    transition: 500ms color;
  }
  .states__item:hover {
    color: #0076FF;
  }

@media screen and (min-width: 800px) {
  .icon {
    width: 2em;
    height: 2em;
  }
}
  
